apiVersion: apps/v1
kind: Deployment
metadata:
  name: detector
  #namespace: detector
  labels:
    app: detector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: detector
  template:
    metadata:
      labels:
        app: detector
    spec:
      containers:
        - name: detector
          image: docker.io/bmzsombi/detector:latest
          resources:
            requests:
              cpu: "50m"
              memory: "100Mi"
            limits:
              cpu: "100m"
              memory: "100Mi"
          ports:
            - containerPort: 8443
