apiVersion: v1
kind: PersistentVolume
metadata:
  name: detector-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /mnt/data
  persistentVolumeReclaimPolicy: Retain
  storageClassName: "detector-storageclass"